﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/AjinomotoColorAdminNested.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AjinomotoWorkflowApp._Default" %>
<asp:Content ID="BodyContent" ContentPlaceHolderID="mainContent" runat="server">
    
    <div class="panel-body">
            Panel Content Here
    </div>

</asp:Content>
