﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="AjinomotoWorkflowApp.Login" %>
	<!DOCTYPE html>
	<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
	<!--[if !IE]><!-->
	<html lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Color Admin | Login Page</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		
		<!-- ================== BEGIN BASE CSS STYLE ================== -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" /> -->
		<link href="/Assets/fonts/roboto.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/Assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
		<link href="/Assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/Assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/Assets/css/animate.min.css" rel="stylesheet" />
		<link href="/Assets/css/style.min.css" rel="stylesheet" />
		<link href="/Assets/css/style-responsive.min.css" rel="stylesheet" />
		<link href="/Assets/css/theme/default.css" rel="stylesheet" id="theme" />
		<!-- ================== END BASE CSS STYLE ================== -->
		
		<!-- ================== BEGIN BASE JS ================== -->
		<!-- <script src="Assets/plugins/pace/pace.min.js"></script> -->
		<!-- ================== END BASE JS ================== -->
	</head>
	<body class="pace-top bg-white">
		<!-- begin #page-loader -->
		<div id="page-loader">
			<div class="material-loader">
				<svg class="circular" viewBox="25 25 50 50">
					<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
				<div class="message">Loading...</div>
			</div>
		</div>
		<!-- end #page-loader -->
		
		<!-- begin #page-container -->
		<div id="page-container" class="fade">
			<!-- begin login -->
			<div class="login login-with-news-feed">
				<!-- begin news-feed -->
				<div class="news-feed">
					<div class="news-image">
						<img src="/Assets/img/login-bg/bg-7.jpg" data-id="login-cover-image" alt="" />
					</div>
					<div class="news-caption">
						<h4 class="caption-title"><i class="material-icons text-cyan pull-left m-r-5">apps</i> Announcing the Color Admin app</h4>
						<p>
							Download the Color Admin app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<!-- end news-feed -->
				<!-- begin right-content -->
				<div class="right-content">
					<!-- begin login-header -->
					<div class="login-header">
						<div class="brand">
							<span class="logo"></span> Color Admin
							<small>responsive bootstrap admin template</small>
						</div>
						<div class="icon">
							<i class="material-icons">lock</i>
						</div>
					</div>
					<!-- end login-header -->
					<!-- begin login-content -->
                    
					<div class="login-content">
						<form action="index.html" method="POST" class="margin-bottom-0" runat="server">
							<div class="form-group m-b-15">
								<input type="text" class="form-control input-lg" placeholder="Email Address" required />
							</div>
							<div class="form-group m-b-15">
								<input type="password" class="form-control input-lg" placeholder="Password" required />
							</div>
							<div class="checkbox m-b-30">
								<label>
									<input type="checkbox" /> Remember Me
								</label>
							</div>
							<div class="login-buttons">
								<button type="submit" class="btn btn-info btn-block btn-lg">Sign me in</button>
                                <asp:Button ID="Button1" runat="server" Text="Button" />
							</div>
							<div class="m-t-20 m-b-40 p-b-40 text-inverse">
								Not a member yet? Click <a href="register_v3.html">here</a> to register.
							</div>
							<hr />
							<p class="text-center">
								&copy; Color Admin All Right Reserved 2015
							</p>
						</form>
					</div>
					<!-- end login-content -->
				</div>
				<!-- end right-container -->
			</div>
			<!-- end login -->
			
			<!-- begin theme-panel -->
			<div class="theme-panel">
				<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
				<div class="theme-panel-content">
					<h5 class="m-t-0">Color Theme</h5>
					<ul class="theme-list clearfix">
						<li class="active"><a href="javascript:;" class="bg-cyan" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default/Cyan">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
					</ul>
					<div class="divider"></div>
					<div class="row m-t-10">
						<div class="col-md-5 control-label double-line">Header Styling</div>
						<div class="col-md-7">
							<select name="header-styling" class="form-control input-sm">
								<option value="1">default</option>
								<option value="2">inverse</option>
							</select>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-md-5 control-label">Header</div>
						<div class="col-md-7">
							<select name="header-fixed" class="form-control input-sm">
								<option value="1">fixed</option>
								<option value="2">default</option>
							</select>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-md-5 control-label double-line">Sidebar Styling</div>
						<div class="col-md-7">
							<select name="sidebar-styling" class="form-control input-sm">
								<option value="1">default</option>
								<option value="2">grid</option>
							</select>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-md-5 control-label">Sidebar</div>
						<div class="col-md-7">
							<select name="sidebar-fixed" class="form-control input-sm">
								<option value="1">fixed</option>
								<option value="2">default</option>
							</select>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-md-5 control-label double-line">Sidebar Gradient</div>
						<div class="col-md-7">
							<select name="content-gradient" class="form-control input-sm">
								<option value="1">disabled</option>
								<option value="2">enabled</option>
							</select>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-md-12">
							<a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end theme-panel -->
		</div>
		<!-- end page container -->
		
		<!-- ================== BEGIN BASE JS ================== -->
		<script src="/Assets/plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="/Assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
		<script src="/Assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]>
			<script src="Assets/crossbrowserjs/html5shiv.js"></script>
			<script src="Assets/crossbrowserjs/respond.min.js"></script>
			<script src="Assets/crossbrowserjs/excanvas.min.js"></script>
		<![endif]-->
		<script src="/Assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/Assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<!-- ================== END BASE JS ================== -->
		
		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<script src="/Assets/js/apps.min.js"></script>
		<!-- ================== END PAGE LEVEL JS ================== -->

		<script>
			$(document).ready(function() {
				App.init();
			});
		</script>
	</body>
	</html>
