/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 2.1.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v2.1/admin/material/
*/

.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
    border-color: #E57373 #F44336 #D32F2F;
}
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:focus, 
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
    background: #F44336;
}
.navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.text-theme,
.sidebar .sub-menu > li.active > a:before {
    color: #F44336;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        background: #F44336;
    }
}


/* Added in v1.5 */

.gradient-enabled .navbar.navbar-inverse .navbar-brand,
.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a, 
.gradient-enabled .top-menu .nav > li.active > a:focus, 
.gradient-enabled .top-menu .nav > li.active > a:hover {
    background: #e57373; /* Old browsers */
    background: -moz-linear-gradient(top,  #e57373 0%, #e53935 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e57373 0%,#e53935 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e57373 0%,#e53935 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57373', endColorstr='#e53935',GradientType=0 ); /* IE6-9 */
}
.pace-progress {
    background: #F44336;
}
.pace .pace-activity {
    border-top-color: #F44336;
    border-left-color: #F44336;
}


/* Added in v1.7 */

/*tambahan*/
.page-with-light-sidebar .sidebar .nav > li.active   {
    color: #F44336;
}

/*edit*/
.page-with-light-sidebar .sidebar .nav > li.active > a > i {
    color: #fff;
}
.page-with-light-sidebar .sidebar .nav > li.active > a .badge,
.page-with-light-sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #F44336;
}


/* Added in v1.9 */

.top-menu .nav > li.active > a, 
.top-menu .nav > li.active > a:focus, 
.top-menu .nav > li.active > a:hover {
    background: #F44336;
}

/* tambahan */
.bwizard-steps li.active,  .bwizard-steps li.active:focus {
    background:#F44336 !important;
}

.bwizard-steps li.active, .bwizard-steps li.active:hover, .bwizard-steps li.active:focus {
    background:#F44336 !important;
}